main {
    // background-color: @white;
    background-color: @wmp-green-light;
    width: 100%;
    position: relative;
    top: 600px;
    .flex(flex-start, center, column);

    section.intro {
        .flex(center, flex-start, column);
        width: 100%;
        padding: 0 5%;
        background-color: @wmp-green-light;
        color: @white;
        text-shadow: 1px 1px 3px rgb(60, 60, 60);

        @media @tablet {
            padding: 0 10%;
        }

        @media @desktop {
            padding: 30px 15%;
        }

        h2 {
            margin-bottom: 5px;
            padding: 0 20px;
        }
        p {
            margin: 10px 0;
            padding: 0 20px;
        }
    }
    .section-container {
        .flex(center, center, column);
        width: 100%;
        margin: 0 20px 20px;
        padding: 20px 20px 0;

        @media @desktop {
            .flex(space-between, center, row);
            flex-wrap: wrap;
            padding: 0 15%;
        }
    }
}

.section-container section {
    .flex(space-between, flex-start, column);
    .section();
    background-color: @wmp-green-med;
    color: @white;
    .text-shadow();
    .box-shadow();
    // height: 100%;
    
    @media @tablet {
        .box-shadow();
    }

    @media @desktop {
        width: 45%;
        height: 625px;
    }

    .text-container {
        .flex(flex-start, flex-start, column);
        width: 100%;

        .card-title {
            .flex(space-between, center, row);
            width: 100%;
            border-bottom: 1px solid @wmp-yellow;
            margin: 12px 0 8px;

            @media @tablet {
                margin: 0;
            }

            h3 {
                margin: 0;
                width: 100%;
                padding-bottom: 0;

                @media @tablet {
                    margin: 10px 0 5px;
                    padding-bottom: 6px;
                }
            }
        }
    }

    img {
        width: 100%;
        border: 2px solid @wmp-yellow;
        margin: 0 0 20px;

        @media @tablet {
            margin: 0;
        }
    }
}