main {
    background-color: @white;
    width: 100%;
    position: relative;
    top: 600px;
    .flex(none, center, column);

    @media @desktop {
        background-color: @wmp-green-light;
    }

    section.intro {
        .flex(none, flex-start, column);
        width: 100%;
        padding: 0 5% 30px;
        background-color: @wmp-green-light;
        color: @white;
        text-shadow: 1px 1px 3px rgb(60, 60, 60);

        @media @tablet {
            padding: 0 10% 30px;
        }

        @media @desktop {
            padding: 0 15% 30px;
        }

        h2 {
            margin-bottom: 5px;
            padding: 0 20px;
        }
        p {
            margin: 10px 0;
            padding: 0 20px;
        }
    }
    .section-container {
        .flex(none, center, column);
        width: 100%;
        margin: 0 20px 20px;
        padding: 20px 20px 0;

        @media @desktop {
            // background-color: @wmp-green-light;
            .flex(space-between, center, row);
            flex-wrap: wrap;
            padding: 0 15%;
        }

        section {
            .flex(space-between, flex-start, column);
            .section();
            width: 100%;

            @media @desktop {
                // .flex(space-between, flex-start, column);
                background-color: @wmp-green-med;
                color: @white;
                width: 45%;
                height: 650px;
            }

            .text-container {
                .flex(none, flex-start, column);
                width: 100%;

                h3 {
                    margin: 10px 0 5px;
                }
            }

            img {
                width: 100%;
                @media @desktop {
                    border: 2px solid @wmp-yellow;
                    // max-height: 60%;
                }
            }
        }
    }
}